.rating, .reviewTitle{
 display: block; 
    
}

.reviewForm{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.contentField{
    padding-left: 8px;
    margin-top: 20px;
    width: 90%;
    font-size: 16px;
    margin-left: 20px;
    box-shadow: 2px 2px 5px gray;
    -webkit-box-shadow:2px 2px 5px gray;
    -moz-box-shadow:2px 2px 5px gray
}

.reviewHead{
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
    text-shadow: 1px 1px 5px gray;
    -webkit-text-shadow:1px 1px 5px gray;
    -moz-text-shadow:1px 1px 5px gray;
    color: #402964;
    font-weight: bold;
}

.writeReview{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    
}

.rating{
    font-family: 'Audiowide';
    
}

#reviewRate{
    box-shadow: 2px 2px 5px gray;
    -webkit-box-shadow:2px 2px 5px gray;
    -moz-box-shadow:2px 2px 5px gray;
    margin-right: 5px;
    font-size: 16px;
    
}

.reviewTitle{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 250px;
    font-size: 17px;
    box-shadow: 2px 2px 5px gray;
    -webkit-box-shadow:2px 2px 5px gray;
    -moz-box-shadow:2px 2px 5px gray
}

.postReview{
    border: none;
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#402964;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    font-size:18px;
    
}
.postReview:active{
    top:0.1em;
}

.postButton{
    margin-top: 10px;
    text-align: center;
}

.reviewField{
    background-color: rgba(201, 192, 255, 0.76);
    border: 2px solid #402964;
    border-radius: 5px;
}



@media only screen and (min-width: 951px){
    .reviewForm{
        width: 915px;
    }
    .contentField{
        margin-left: 45px;
        
    }
    .reviewTitle{
        width: 300px;
    }
}

@media only screen and (max-width: 951px){
    .reviewForm{
        width: 96%;
    }
    .contentField{
        margin-left: 25px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 600px){
    .postReview{
        font-size: 17px;
    }
    .contentField{
        margin-left: 15px;
        margin-right: auto;
    }
    #reviewRate{
        height: 30px;
        width: 40px;
    }
    .contentField{
        width: 100%;
        height: 100px;
        margin-left: 0;
        margin-right: 15px;
        font-size:14px;
    }
    .rating{
        font-size: 16px;
        margin: 0px;
    }
    .reviewTitle{
        font-size: 15px;
        margin-top: 0px;
    }
    .writeReview{
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

