@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

body {
    background-color: rgb(255, 255, 255);
    
    background: url('../../download.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}