.searchCont{
    text-align: center;
}

.searchIcon{
    position: absolute;
    padding-top: 5px;
    padding-left: 6px;
    color: #757889;
    
}

.gameSearch{
    width: 40%;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 2px solid #40296494;
   
    background-color: rgba(255, 255, 255, 0.452);
    padding-left: 30px;
    box-shadow: 2px 2px 5px gray;
    -webkit-box-shadow:2px 2px 5px gray;
    -moz-box-shadow:2px 2px 5px gray;
}

@media only screen and (min-width: 1170px){
    .gameSearch{
        width: 470px;
    }
}

@media only screen and (max-width: 870px){
    .gameSearch{
        width: 345px;
    }
}

@media only screen and (max-width: 600px){
    .gameSearch{
        width: 300px;
    }
    .searchIcon{
        padding-top: 7px;
    }
}