header{
    text-align: center;
    margin-top: 50px;
    color: #402964;
    margin-bottom: 20px;
  }

  .header2{
    font-size: 30pt;
    
    }
    
    .header1{
      font-weight: bold;
      font-size: 36pt;
    }
    